{{page-title "My Books"}}

<div id="my-books-section" class="section full-height">
  <LinkTo @route="my-books" class="section-link">My Books →</LinkTo>
  <div class="books-list">
    {{#each this.model as |book|}}
      <div class="book">
        <img src={{book.cover}} alt="Book cover" />
        <div class="book-details">
          <h3>{{book.title}}</h3>
          <p>Author: {{book.authors}}</p>
        </div>
      </div>
    {{else}}
      <p>No books found.</p>
    {{/each}}
  </div>
</div>